{
    "presets": ["env", "es2015", "stage-2", "react"],
    "plugins": [
      "syntax-dynamic-import",
      "transform-export-extensions",
      "syntax-class-properties",
      "transform-decorators-legacy",
      "transform-class-properties"
    ]
  }